# client supabase
NEXT_PUBLIC_DATABASE_URL=
NEXT_PUBLIC_DATABASE_PUBLISHABLE_KEY=
# server supabase
DATABASE_URL=
DATABASE_SERVICE_ROLE_KEY=

# admin portal credentials
NEXT_PUBLIC_ADMIN_EMAIL=admin@hydra-videogen.com
NEXT_PUBLIC_ADMIN_PASSWORD=admin123
